%footer.footer.sticky-top
  .d-flex.bd-highlight.justify-content-center.bg-dark
    .navbar.navbar-dark.bg-dark
      .p-4.flex-fill.bd-highlight
        %ul.nav.flex-column
          %li.nav-item
            = link_to(root_url, class: "nav-link text-white") do
              %h3 FooBox
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
      .p-4.flex-fill.bd-highlight
        %ul.nav.flex-column
          %li.nav-item
            = link_to(root_url, class: "nav-link text-white") do
              %h3 Text
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
      .p-4.flex-fill.bd-highlight
        %ul.nav.flex-column
          %li.nav-item
            = link_to(root_url, class: "nav-link text-white") do
              %h3 Text
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
          %li.nav-item
            = link_to("Text", root_url, class: "nav-link text-white")
