.d-flex.bd-highlight
  .flex-grow-1.bd-highlight
    .navbar.navbar-expand-lg.navbar-dark.bg-dark
      .d-flex.bd-highlight
        .p-2.flex-grow-1.bd-highlight
      = link_to("FooBox", root_url, class: "navbar-brand text-white")
      %button.navbar-toggler{"data-toggle" => "collapse", "data-target" => "mainNavbar", "aria-controls" => "mainNavbar", "aria-expanded" => "false", "aria-label" => "Toggle Navigation"}
        %span.navbar-toggler-icon

      .navbar.collapse-navbar{"id" => "mainNavbar"}
        %ul.navbar-nav.justify-content-end
          %li.nav-item
            = link_to("Sign In", new_user_session_url, class: "text-white nav-link")
          %li.nav-item
            = link_to("Download", root_url, class: "disabled nav-link")
  .bd-highlight.bg-primary
    %ul.nav.p-3.justify-content-end
      %li.nav-item
        = link_to("Dashboard", root_url, class: "nav-link text-white")
      %li.nav-item
        = link_to(root_url, class: "nav-link text-white") do
          = fa_icon "bell"
          .badge.badge-pill.badge-danger 0
